.features__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--second-background-color);
    border-radius: 4px;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

// 0px - 767px
@media screen and (max-width: 767px) {
    .features__wrapper {
        max-width: 450px;
    }

    .features__title {
        text-align: center;
    }

    .features__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

// 768px - 1199px 
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features__wrapper {
        width: 354px;
    }

    .features__list {
        display: flex;
        flex-wrap: wrap;
    }

    .features__item {
        flex-basis: 354px;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
.features__list {
    display: flex;
    margin-left: -30px;
}

.features__item {
    flex-basis: calc((100%-90px) / 4);
    margin-left: 30px;
}

.features__wrapper {
    width: 270px;
}
}
