.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-background-color);
}

.footer__logo_light {
    color: var(--primary-color-light);
}

.footer__address {
    margin-top: 20px;
}

.footer__contact-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.footer__contact-list-item {
    margin-bottom: 9px;
}

.footer__contact-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color-light);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__contact-mail,
.footer__contact-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__container {
    display: flex;
}

.footer__contact-container {
    margin-right: 86px;
}

.footer__social-container {
    padding-top: 12px;
}

.footer__social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color-light);
}

.footer__social-list {
    display: flex;
}

.footer__social-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer__social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--footer-bg-link-color);
    border-radius: 50%;
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer__social-list-icon {
    fill: var(--primary-color-light);
}

.footer__form {
    margin-left: 93px;
    padding-top: 9px;
}

.footer__form-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color-light);
}

.footer__form-wrapper {
    display: flex;
}

.footer__form-input {
    display: block;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid var(--footer-input-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--third-text-color);
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: var(--third-text-color);
    }
    &:focus {
        outline: none;
    }
}

.footer__form-btn {
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding-left: 29px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-color-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--main-button-accent);
    }
}

.footer__form-icon {
    margin-left: 10px;
}