.team {
    background-color: var(--second-background-color);
}

.team__item {
    background-color: var(--primary-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
    margin-top: 30px;
}

.team__members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__specialty {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
}

.team__social-list {
    display: flex;
    justify-content: center;
}

.team__social-list-item:not(:last-child) {
    margin-right: 10px;
}

.team__social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-color-light);
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team__social-list-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team__social-list-link:hover &,
    .team__social-list-link:focus & {
        fill: var(--primary-color-light);
    }
}

// 0px - 767px
@media screen and (max-width: 767px) {
    .team__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .team__wrapper {
        padding-left: auto;
        padding-right: auto;
    }
}

// 768px +
@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .team__item {
        margin-top: 30px;
        margin-left: 30px;
    }
}

// 768px - 1199px 
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__item {
        flex-basis: calc((100% - 60px) / 2);
    }

    .team__wrapper {
        padding-left: 74px;
        padding-right:74px;
    }
}

// - 1199px
@media screen and (max-width: 1199px) {
    .team__title {
        margin-bottom: 30px;
    }

    .team__item {
        padding-bottom: 24px;
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .team__title {
        margin-bottom: 50px;
    }
    
    .team__item {
        flex-basis: calc((100% - 120px) / 4);
        padding-bottom: 30px;
    }

    .team__wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    
}
