.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    transition: opacity 500ms linear, visibility 500ms linear;
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background-color: var(--primary-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--modal-border-color);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal__contact-form {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.modal__title {
    display: block;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal__contact-form-label {
    display: grid;
    margin-bottom: 10px;
}

.modal__coment-form-label {
    display: grid;
}

.modal__label-name {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal__contact-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal__contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal__contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__contact-form-input:focus+& {
        fill: var(--accent-color);
    }
}

.modal__contact-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--placeholder-color);
    }
}

.modal__contact-form-checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal__contact-form-checkbox-wrapper {
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal__contract-link {
    color: var(--accent-color);
}

.modal__checkbox-icon {
    border: 2px solid var(--primary-text-color-dark);
    border-radius: 2px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__contact-form-checkbox:hover+.checkbox-icon,
.modal__contact-form-checkbox:focus+.checkbox-icon {
    border: 2px solid var(--black-color);
}

.modal__contact-form-checkbox:checked+.modal__checkbox-icon {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
}

.modal__contact-form-submit-btn {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--primary-color-light);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--main-button-accent);
    }
}

// 0px - 479px
@media screen and (max-width: 479px) {
    .modal {
        width: calc(100% - 30px);
    }
}

// 480px - 1199px 
@media screen and (min-width: 480px) and (max-width: 1199px) {
    .modal {
        width: 450px;
    }
}

// 0px - 1199px
@media screen and (max-width: 1199px) {
    .modal {
        height: 609px;
    }

    .modal__title {
        line-height: 1.5;
    }

    .modal__contact-form-checkbox-wrapper {
        font-size: 12px;
        line-height: 1.16;
    }

    .modal__checkbox-icon {
        margin-right: 10px;
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }

    .modal__title {
        line-height: 1.15;
    }

    .modal__contact-form-checkbox-wrapper {
        font-size: 14px;
        line-height: 1.7;
    }

    .modal__checkbox-icon {
        margin-left: 12px;
        margin-right: 8.38px;
    }
}